body {
  font-family: 'Times New Roman', Times, serif;
  padding: 60px;
  margin: auto;
}

h1 {
  position: fixed;
  letter-spacing: 24px;
  background: white;
  width: 100%; /* volle Breite mit Rand */
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  font-size: 110px;

}


h2 a {
  color: black;         
  text-decoration: none;  
  font-size: 60px;        
}

#person {
  font-size:60px;
  margin-top: 300px; /* Abstand über dem Select */
}

.categories {
  list-style-type: none;
    margin-top: 300px;
}

.categories li {
margin: 40px 0;
  border-bottom: 1px solid black;
}

.categories a {
  color: black;
  font-weight: 50;
  font-size: 110px;
  text-decoration: none;
}

.categories a:hover {
  text-decoration: none;
}



.disabled {
  opacity: 0.4;
}

.controls {
        margin-top: 300px;

  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0px;
  padding: 0px;
}


.item {
  position: relative;
  width: 100%;
  padding-right: 80px;
  border-bottom: 1px solid black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
}


.deleteBtn {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 80px;
  cursor: pointer;
}

/* Nur Desktop: beim Hover zeigen */
@media (hover: hover) {
  .item:hover .deleteBtn {
    display: block;
  }
}


.item a {
  text-decoration: none;
  color: black;
  line-height: 0.6 em;
}

.item a:hover {
  text-decoration: underline;
}



.deleteBtn:hover {
  color: rgb(193, 193, 193);
}

.form input,
.form select {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px 0;
  margin-bottom: 60px;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  background: transparent;
  outline: none;
}

/* Placeholder Style */
.form input::placeholder {
  color: #777;
}

/* Select Pfeil entfernen (modern look) */
.form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

/* Button minimal */
.form button {
  background: transparent;
  border: 1px solid black;
  padding: 10px 30px;
  font-size: 80px;
  cursor: pointer;
}

.form button:hover {
  background: black;
  color: white;
}

.delete {
  background: black;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width:40px;
  height: 40px;
  font-size: 48px;
  margin-right: 70px;
  transition: 0.2s;
}


.tag {
  cursor: pointer;
  margin-right: 6px;
color: rgb(0, 198, 66);

}

.tag:hover {
  opacity: 1;
  text-decoration: underline;
}


/* Custom Checkbox */

.item input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

/* hover */

.item input[type="checkbox"]:hover {
  border-color: black;
}

/* checked */

.item input[type="checkbox"]:checked {
  background: black;
  border-color: black;
}

/* checkmark */

.item input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 6px;
  width: 10px;
  height: 18px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}


@media (min-width: 900px) {

body {
  font-size: 50px;
}

/* Headlines */

h1 {
  font-size: 48px;
  letter-spacing: 10px;
}

h2 a {
  font-size: 50px;
}

/* Kategorien */

.categories a {
  font-size: 50px;
}

/* Form */

#person,
.form input,
.form select {
  font-size: 50px;
}

.form button {
  font-size: 50px;
}

/* List items */

.item {
  font-size: 50px;
}

.delete {
  font-size: 30px;
}

/* Genres */

.genres,
.tag {
  font-size: 50px;
}

}

/* Container für rechte Aktionen */
.item .actions {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 18px; /* Abstand zwischen Checkbox und Button */
}

/* Checkbox im Actions Container */
.item .actions input[type="checkbox"] {
  width: 40px;
  height: 40px;
  margin: 0;
  cursor: pointer;
}

/* Bearbeiten Button klein */
.item .actions .delete {
  font-size: 20px;
  padding: 2px 6px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  line-height: 1;
}

/* --- Private Liste spezifisch --- */
body.private h1 {
  font-size: 40px;       /* kleiner als normal */
  letter-spacing: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

body.private h2 a {
  font-size: 40px;       /* kleiner Link */
}

body.private .form input {
  font-size: 40px;       /* kleinere Inputs */
  margin-bottom: 20px;
}

/* Nur für die geheime / private Liste */
body.private .form.private-form {
  padding-top: 100px;   /* Abstand vom Header */
}


body.private .form button {
  font-size: 40px;       
  padding: 5px 20px;
}

body.private .item {
  font-size: 40px;       /* kleinere Listeneinträge */
  padding-right: 80px;   /* genug Platz rechts für Checkbox + Button */
}

/* Checkbox + Bearbeiten Button rechtsbündig */
body.private .item .actions input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

body.private .item .actions .delete {
  font-size: 20px;
  padding: 2px 6px;
}

body.termin .form.termin-form {
  padding-top: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

body.termin .form.termin-form input,
body.termin .form.termin-form button {
  font-size: 40px;
  margin-bottom: 20px;
}
